
body {
 font-family: arial;
}

h1, p, table {
 background-color:#CCC;
 border: 1px solid;
 color:#39F;
 text-align: center;
 width: 100%;
}

.addon-store .pagehead h1
.addon-store .addon-summary:after { clear: both }

#addon-store .pagehead .electrocat-small {
   bottom: -7px;
   position: absolute;
   right: 0;
}

.addon-store .addons-nav a.selected {
   border-bottom-color: #d26911;
   color: #333;
   font-weight: bold;
   padding: 0 0 14px;
}

.addon-store .addon-icon {
   background: #fff;
   border: 1px solid #ddd;
   box-shadow: 0 1px 2px rgba(0,0,0,0.15);
   float: left;
   height: 80px;
   margin-right: 14px;
   width: 80px;
}

.addon-store .developer-callout {
   background-color: #f1f1f1;
   background-image: -moz-linear-gradient(#fafafa, #f1f1f1);
   background-image: -webkit-linear-gradient(#fafafa, #f1f1f1);
   background-image: linear-gradient(#fafafa, #f1f1f1);
   background-repeat: repeat-x;
   border: 1px solid #ddd;
   border-bottom: 1px solid #ccc;
   border-radius: 3px;
   box-shadow: inset 0 1px 0 #fff, 0 1px 5px #f1f1f1;
   margin-top: 40px;
   text-shadow: 0 1px 0 #fff;
}

.addon-field-editor .addon-field-list, .addon-field-editor .addon-new-field {
   -moz-box-sizing: border-box;
   border-radius: 3px;
   box-sizing: border-box;
   display: inline-block;
   text-align: center;
   width: 595px;
}