# Development
# =============================

*.sublime-project
*.sublime-workspace
*.cache
node_modules/

images.cache
schemes/*.YAML-tmTheme
sources/schemes/scheme.tmTheme


# OS
# =============================

.DS_Store
