/* Button Components */
%button_base {
  border: none;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  &.disabled {
    background-color: $button-bg-disabled;
    @include z-depth(0);
    color: $button-color-disabled;
    cursor: default;
    * {
      pointer-events: none;
    }
    .no-touch &:hover {
      background-color: $button-bg-disabled;
      color: $button-color-disabled;
      @include z-depth(0);
    }
  }
}

%btn_raised {
  padding: 0 2em;
  text-transform: uppercase;
  vertical-align: middle;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  letter-spacing: .5px;
  transition: all 0.2s ease-out;
}

.button-raised {
  @extend %button_base;
  @extend %btn_raised;
  color: $button-raised-color;
  background-color: $button-raised-bg;
  height: $button-height;
  line-height: $button-height;
  @include z-depth(1);
  .no-touch &:hover {
    background-color: lighten($button-raised-bg, 5%);
    @include z-depth(1.5);
  }
}

.button-flat {
  @extend %button_base;
  @extend %btn_raised;
  @include z-depth(0);
  height: $button-height;
  line-height: $button-height;
  background-color: transparent;
}

.button-large {
  @extend %button_base;
  @extend %btn_raised;
  color: $button-raised-color;
  background-color: $button-raised-bg;
  height: $button-height * 1.5;
  line-height: 56px;
  @include z-depth(1);
  .no-touch &:hover {
    background-color: lighten($button-raised-bg, 5%);
    @include z-depth(1.5);
  }
}

.button-float {
  @extend %button_base;
  display: inline-block;
  background-color: $button-raised-bg;
  color: $button-raised-color;
  position: relative;
  @include size($button-float-size);
  line-height: $button-float-size;
  padding: 0;
  border-radius: 50%;
  @include z-depth(1);
  vertical-align: middle;
  overflow: hidden;
  transition: all 0.3s;
  z-index: 1;
  span {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: $button-raised-color;
    font-size: em(20px);
    line-height: $button-float-size;
  }
  &:before {
    border-radius: 0;
  }
  .no-touch &:hover {
    @include z-depth(1.5);
  }
}

.button-float-large {
  @extend .button-float;
  @include size($button-float-size * 1.5);
  span {
    line-height: $button-float-size * 1.5;
  }
}

.fixed-button-float {
  @extend .button-float;
  @include size($button-float-size * 1.5);
  position: fixed;
  right: 23px;
  bottom: 23px;
  margin-bottom: 0;
  z-index: 998;
  span {
    line-height: $button-float-size * 1.5;
  }
}