@import "jeet/index";
@import "config";
@import "helpers";
@import "reset";

/* BASE */

* { box-sizing: border-box; }

html, body {
  width: 100%;
  //height: 100%;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
}

body {
  background: $body-bg;
  color: $text-color;
  font-size: $font-size-base;
  font-family: $font-stack;
  line-height: $line-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  //overflow-x: hidden;
  //margin: 0 0 175px;
  @include mq(desk-down) {
    //margin: 0 0 215px;
  }
  @include mq(all-tab) {
    //margin: 0 0 140px;
  }
  @include mq(mobile) {
    //margin: 0 0 180px;
  }
  .touch & {
    -webkit-overflow-scrolling: touch;
  }
}

// @media only screen and(min-width: 569px) and(max-width: 640px) {
//   body {
//     margin: 0 0 140px;
//   }
// }
// @media only screen and(min-width: 503px) and(max-width: 568px) {
//   body {
//     margin: 0 0 160px;
//   }
// }

// @media only screen and(max-width: 252px) {
//   body {
//     margin: 0 0 230px;
//   }
// }

// Selection colors
::selection {
  background: $selection-bg;
  color: $selection-color;
  text-shadow: none;
}

::-webkit-selection{
  background: $selection-bg;
  color: $selection-color;
  text-shadow: none;
}
  
img::selection {
  background: transparent;
}

// IE < 9 Prompt
.warning {
  width: 100%;
  padding: 15px 0;
  background: #ccc;
  border-bottom: 1px solid #333;
  
  & p {
    text-align: center;
  }

  & p:last-of-type {
    margin-bottom: 0;
  }
  
  & a {
    color: #DD6F00;
    &:hover {
      color: lighten(#dd6f00, 20%);
    }
  }
}

@import "typography";
@import "icon-font";
@import "media";