// Responsive Media Elements

img,
picture,
video,
audio,
embed,
object,
input,
iframe {
  max-width: 100%;
  margin: 0;
}

img {
  vertical-align: middle;
  border: 0;

// Fix for SVGs
  &[src*=".svg"] {
      width: 100% \9;
  }
}

x::-ms-reveal,
img[src*=".svg"] {
  width: 100%;
}

a img {
  border: none;
}